---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="아올다 소개" />
  <Breadcrumbs items={[{ label: '아올다 소개', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">아올다는 아주대학교의 클라우드 개발 / 운영 소학회입니다.</p>
        <p>
          아올다에서는 클라우드 인프라에 관심있는 아주대학교 학생들이 함께 학습하고 프로젝트를 진행하며 성장하고
          있습니다.
        </p>
      </div>

      <h2 class="mb-4 text-2xl font-medium">아올다의 프로젝트</h2>
      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div>
    </div>
  </section>
</Layout>
