---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section class="rounded-lg border">
    <div class="p-6">
      <p class="text-muted-foreground mb-2 text-sm">아올다는 아주대학교의 클라우드 개발 / 운영 소학회입니다.</p>
      <p class="text-muted-foreground text-sm">
        아올다에서는 클라우드 인프라에 관심있는 아주대학교 학생들이 함께 학습하고 프로젝트를 진행하며 성장하고 있습니다.
      </p>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">최신 블로깅</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link href="/blog" class={buttonVariants({ variant: 'ghost' }) + ' group'}>
        모든 블로깅 보기 <span class="ml-1.5 transition-transform group-hover:translate-x-1">&rarr;</span>
      </Link>
    </div>
  </section>
</Layout>
